@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "./font/inter.css";
@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 10rem;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100%;
  font-family: "Inter";
}

main,
nav,
footer,
.hero-image {
  padding: 0 $spacer2;
}

#root {
  height: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  border-radius: 20px;
  padding: 12px 25px;
  margin: 10px 0;
}

section,
footer {
  margin-top: $spacer1;
}

.slick-slide > div {
  margin: 0 8px;
}

.slick-slide {
  width: unset;
}

.slick-dots {
  bottom: -50px;
}

.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
}
