@import './mixins';

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: $textLight2;
  margin: 0;

  @include customMaxBreakPoint(610) {
    font-size: 38px;
  }

  @include customMaxBreakPoint(310) {
    font-size: 28px;
  }
}

h2 {
  color: $textDark2;
  font-weight: 700;
  font-size: 37px;
  margin: 0;

  @include customMaxBreakPoint(610) {
    font-size: 27px;
  }

  @include customMaxBreakPoint(310) {
    font-size: 20px;
  }
}

footer h2 {
  color: $textLight3;
}

footer p {
  color: $textLight1;
}

.card h3 {
  color: $textLight2;
  font-weight: 700;
  font-size: 32px;
}

.card p {
  color: $textLight1;
}

h4 {
  color: $textDark1;
  font-weight: 700;
  font-size: 24px;
}

header button {
  font-weight: 700;
  font-size: 14px;
}

header p {
  color: $textLight3;
}

p, header p {
  font-size: 20px;
  font-weight: 400;
}

a {
  color: $textLight1;
  text-decoration: none;
  &:hover {
    color: $textDark2;
  }
}

header nav button {
  color: $primaryColor;
  background-color: $textLight1;
  &:hover {
    background-color: $primaryDark;
    color: $textLight1;
  }
}

button {
  color: $textLight1;
  background-color: $primaryColor;
  &:hover {
    color: $textLight1;
    background-color: $primaryDark;
  }
}
