// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Text Colors
$textLight1: #FFFFFF;
$textLight2: #FAFAFA;
$textLight3: #F5F5F5;
$textDark1: #000000;
$textDark2: #242424;

// Primary Colors
$primaryColor: #70259B;
$primaryDark: #430964;
$primaryLight: #D100C9;

$danger1: #FF3860;
$danger2: #FF3860;
