@import "../../sassStyles/mixins";
@import "../../sassStyles/variables";

.hero-image {
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
  color: #fff;
  text-align: left;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  background-image: url("./Hero-Image.jpg");

  div {
    padding: 0 55% 15% 0;

    @include customMaxBreakPoint(610) {
      padding: 0 30% 15% 0;
      font-size: 38px;
    }

    @include customMaxBreakPoint(410) {
      padding: 0 10% 15% 0;
    }

    @include customMaxBreakPoint(330) {
      padding: 0 5% 15% 0;
    }

    @include customMaxBreakPoint(295) {
      padding: 0 1% 15% 0;
    }
  }
}
