@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.container {
  display: flex;
  justify-content: center;

  .card {
    height: 399px;
    overflow: hidden;
  }

  .card img {
    height: 399px;
    width: 350px;
    object-fit: cover;
  }

  .card .content {
    width: 399px;
    position: absolute;
    bottom: 3px;
    padding: 12px 20px;

    h3 {
      font-size: 25px;
      margin: 12px 0;

      @include customMaxBreakPoint(390) {
        font-size: 20px;
      }
    }

    p {
      font-size: 15px;

      @include customMaxBreakPoint(390) {
        font-size: 12px;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  .card .line2 {
    height: 4px;
    width: 30px;
    background-color: $primaryLight;
    display: flex;
    align-items: center;
  }
}
