@import '../../sassStyles/variables';

.card {
  div {
    display: flex;
    flex-direction: column;

    .line2 {
      height: 3px;
      width: 30px;
      background-color: $primaryLight;
      display: flex;
      align-items: center;
    }
  }
}