@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

.container {
  display: flex;
  justify-content: center;
  
  .card {
    height: 399px;
    overflow: hidden;
  }
  
  .card img {
    height: 399px;
    width: 350px;
  }

  .card .content {
    height: 500px;
    width: 350px;
    box-sizing: border-box;
    position: absolute;
    background-image: linear-gradient(360deg, white, black, transparent);
    bottom: -363px;
    padding: 10px;

    @include customMaxBreakPoint(1316) {
      width: 346px;
    }

    @include customMaxBreakPoint(1300) {
      width: 345px;
    }

    @include customMaxBreakPoint(1292) {
      width: 343px;
    }

    @include customMaxBreakPoint(1288) {
      width: 340px;
    }

    @include customMaxBreakPoint(1279) {
      width: 338px;
    }

    @include customMaxBreakPoint(1265) {
      width: 335px;
    }

    @include customMaxBreakPoint(1252) {
      width: 330px;
    }

    @include customMaxBreakPoint(1234) {
      width: 325px;
    }

    @include customMaxBreakPoint(376) {
      width: 299px;
    }

    @include customMaxBreakPoint(391) {
      width: 305px;
    }

    h3 {
      font-size: 25px;
      margin: 12px 0;
    }

    p {
      font-size: 15px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .card .line2 {
    height: 4px;
    width: 30px;
    background-color: $primaryLight;
    display: flex;
    align-items: center;
  }
}